.about-us {
  background-color: #ffffff;
  color: black;
}

.about-us-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.text-content {
  flex: 1;
  padding: 20px;
  font-size: 22px;
  text-align: justify;
}

.stats-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.stat-circle {
  background-color: #014984;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  width: 100px;
  height: 100px;
  text-align: center;
}

.brushstroke-container {
  position: relative;
  display: inline-block;
  margin-top: 30px;
  margin-left: -30px;
}

.brushstroke-text {
  position: relative;
  font-size: 1.5em;
  font-weight: bold;
  color: #ffffff;
  padding: 5px 15px;
  z-index: 1;
}

.brushstroke-container::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
  background-color: #6AA845;
  z-index: 0;
  padding: 5px 0;
  border-radius: 10px;
  clip-path: polygon(0 0, 95% 0, 100% 50%, 95% 100%, 0 100%);
}

/* Fade Animation from Bottom to Top */
.fade-in {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.fade-in.active {
  opacity: 1;
  transform: translateY(0);
}


@media (max-width: 768px) {

  .text-content{
    text-align: justify;
  }


  .about-us-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text-content, .stats-container {
    flex: none;
    width: 100%;
  }

  .stats-container {
    display: flex;
    flex-direction: row; /* Ensure circles are in a column */
    align-items: center;    /* Center the circles */
  }

  .stat-circle {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;    /* Add space between circles */
  }

  .brushstroke-container {
    margin-left: 0;
    text-align: center;
  }
}

@media (max-width: 360px) and (max-height: 740px) {

  .text-content{
    text-align: justify;
  }
}