/* 2nd card style */


.card-container2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  gap: 20px; /* Space between cards */
  padding: 20px;
}

.card2 {
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.card2 h2 {
  margin-bottom: 20px;
}

.card2 iframe {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.card2 p {
  margin: 10px 0;
  text-align: justify;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .card-container2 {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on medium screens */
  }
}

@media (max-width: 800px) {
  .card-container2 {
    grid-template-columns: 1fr; /* 1 column on small screens */
    padding: 10px; /* Reduce padding to fit smaller screens */
  }

  .card2 {
    padding: 15px; /* Reduce padding inside cards for smaller screens */
  }
}